#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Ellipse_255 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Ellipse_256 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Label_572 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Label_573 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}