#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Rectangle_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Label_59 {
  -ms-transform: rotate(0.0deg);
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Map-Screen {
  border-collapse: separate;
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Ellipse_255 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Ellipse_256 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Label_572 {
  -ms-transform: rotate(0.0deg);
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c #s-Label_573 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0d90ed29-a512-4c80-ba85-5a10fe6fd12c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}