#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_59 {
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_292 {
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_293 {
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_294 {
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}