#s-1848c802-3668-48af-aa8b-f96be478c148 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 67px;
  background-color: #9D1535;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 38px;
  font-size: 20.0pt;
  font-family: Perpetua,Arial;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_10 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_10 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: Perpetua,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: Perpetua,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Statusbar-black {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 20px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_11 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: #000000;
  background-image: none;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_11 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_97 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_97 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_97 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_97 span#rtr-s-Label_97_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_98 {
  position: absolute;
  top: 4px;
  left: 299px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_98 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_98 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_98 span#rtr-s-Label_98_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_99 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_99 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_99 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_99 span#rtr-s-Label_99_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Group_24 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Ellipse_33 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Ellipse_33 .content {
  width: 6px;
  height: 6px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Ellipse_33 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #shapewrapper-s-Ellipse_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #shapewrapper-s-Ellipse_33 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #shapewrapper-s-Ellipse_33 span#rtr-s-Ellipse_33_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Ellipse_34 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Ellipse_34 .content {
  width: 6px;
  height: 6px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Ellipse_34 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #shapewrapper-s-Ellipse_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #shapewrapper-s-Ellipse_34 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #shapewrapper-s-Ellipse_34 span#rtr-s-Ellipse_34_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Ellipse_35 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Ellipse_35 .content {
  width: 6px;
  height: 6px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Ellipse_35 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #shapewrapper-s-Ellipse_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #shapewrapper-s-Ellipse_35 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #shapewrapper-s-Ellipse_35 span#rtr-s-Ellipse_35_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Ellipse_36 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Ellipse_36 .content {
  width: 6px;
  height: 6px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Ellipse_36 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #shapewrapper-s-Ellipse_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #shapewrapper-s-Ellipse_36 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #shapewrapper-s-Ellipse_36 span#rtr-s-Ellipse_36_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Ellipse_37 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Ellipse_37 .content {
  width: 6px;
  height: 6px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Ellipse_37 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #shapewrapper-s-Ellipse_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #shapewrapper-s-Ellipse_37 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #shapewrapper-s-Ellipse_37 span#rtr-s-Ellipse_37_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_106 {
  position: absolute;
  top: 1px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_106 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_106 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_106 span#rtr-s-Label_106_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Image_8 {
  position: absolute;
  top: 5px;
  left: 342px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_59 {
  position: absolute;
  top: 36px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_59 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_59 span {
  color: #D9D9D9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_59 span#rtr-s-Label_59_0 {
  color: #D9D9D9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_9 {
  position: absolute;
  top: 110px;
  left: 0px;
  width: 373px;
  height: 88px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_9 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_12 {
  position: absolute;
  top: 199px;
  left: 0px;
  width: 373px;
  height: 88px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_12 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_13 {
  position: absolute;
  top: 288px;
  left: 0px;
  width: 373px;
  height: 88px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_13 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_14 {
  position: absolute;
  top: 377px;
  left: 0px;
  width: 373px;
  height: 88px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_14 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_290 {
  position: absolute;
  top: 145px;
  left: 328px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_290 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_290 span {
  color: #9D1535;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_290 span#rtr-s-Label_290_0 {
  color: #9D1535;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_292 {
  position: absolute;
  top: 230px;
  left: 328px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_292 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_292 span {
  color: #9D1535;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_292 span#rtr-s-Label_292_0 {
  color: #9D1535;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_293 {
  position: absolute;
  top: 319px;
  left: 328px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_293 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_293 span {
  color: #9D1535;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_293 span#rtr-s-Label_293_0 {
  color: #9D1535;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_294 {
  position: absolute;
  top: 417px;
  left: 328px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_294 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_294 span {
  color: #9D1535;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_294 span#rtr-s-Label_294_0 {
  color: #9D1535;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Image_1 {
  position: absolute;
  top: 121px;
  left: 11px;
  width: 73px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Image_2 {
  position: absolute;
  top: 211px;
  left: 11px;
  width: 73px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Image_3 {
  position: absolute;
  top: 300px;
  left: 11px;
  width: 73px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Image_4 {
  position: absolute;
  top: 389px;
  left: 11px;
  width: 73px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Text_7 {
  position: absolute;
  top: 143px;
  left: 95px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Text_8 {
  position: absolute;
  top: 236px;
  left: 95px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Text_9 {
  position: absolute;
  top: 322px;
  left: 95px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Text_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Text_9 span#rtr-s-Text_9_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Text_10 {
  position: absolute;
  top: 411px;
  left: 95px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Text_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Search-bar-grey {
  position: absolute;
  top: 66px;
  left: 0px;
  width: 375px;
  height: 44px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Group_64 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 44px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_18 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 44px;
  background-color: #F6F6F6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_18 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_18 span#rtr-s-Rectangle_18_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Input_8 {
  position: absolute;
  top: 7px;
  left: 9px;
  padding-left: 25px;
  width: 327px;
  height: 22px;
  background-color: #EAEAEA;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EAEAEA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EAEAEA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EAEAEA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EAEAEA;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  box-shadow: none;
  text-shadow: none;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Input_8 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Input_8 input {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_53 {
  position: absolute;
  top: 15px;
  left: 155px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_53 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_53 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 14.0pt;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Label_53 span#rtr-s-Label_53_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_17 {
  position: absolute;
  top: 466px;
  left: 0px;
  width: 373px;
  height: 199px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_17 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 #s-Rectangle_17 span#rtr-s-Rectangle_17_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1848c802-3668-48af-aa8b-f96be478c148 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}