#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Label_292 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Label_293 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Label_294 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-19c2cfc0-a121-43f5-9606-2cf773b89123 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}