#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}