#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Rectangle_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Label_59 {
  -ms-transform: rotate(0.0deg);
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #9D1535;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #9D1535;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #9D1535;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #9D1535;
  -ms-transform: rotate(0.0deg);
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #9D1535;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #9D1535;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #9D1535;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #9D1535;
  -ms-transform: rotate(0.0deg);
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2db1bc7f-bd97-4126-b714-18d309fd053c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}