#s-40759ed3-511b-42d2-b1dd-e91b3575446d > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 67px;
  background-color: #9D1535;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 38px;
  font-size: 20.0pt;
  font-family: Perpetua,Arial;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Rectangle_10 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Rectangle_10 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: Perpetua,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: Perpetua,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Rectangle_10 span#rtr-s-Rectangle_10_1 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: Perpetua,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Rectangle_10 span#rtr-s-Rectangle_10_2 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: Perpetua,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Statusbar-black {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 20px;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Rectangle_11 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: #000000;
  background-image: none;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Rectangle_11 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_97 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_97 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_97 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_97 span#rtr-s-Label_97_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_98 {
  position: absolute;
  top: 4px;
  left: 299px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_98 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_98 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_98 span#rtr-s-Label_98_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_99 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_99 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_99 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_99 span#rtr-s-Label_99_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Group_24 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Ellipse_33 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Ellipse_33 .content {
  width: 6px;
  height: 6px;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Ellipse_33 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #shapewrapper-s-Ellipse_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #shapewrapper-s-Ellipse_33 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #shapewrapper-s-Ellipse_33 span#rtr-s-Ellipse_33_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Ellipse_34 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Ellipse_34 .content {
  width: 6px;
  height: 6px;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Ellipse_34 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #shapewrapper-s-Ellipse_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #shapewrapper-s-Ellipse_34 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #shapewrapper-s-Ellipse_34 span#rtr-s-Ellipse_34_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Ellipse_35 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Ellipse_35 .content {
  width: 6px;
  height: 6px;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Ellipse_35 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #shapewrapper-s-Ellipse_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #shapewrapper-s-Ellipse_35 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #shapewrapper-s-Ellipse_35 span#rtr-s-Ellipse_35_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Ellipse_36 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Ellipse_36 .content {
  width: 6px;
  height: 6px;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Ellipse_36 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #shapewrapper-s-Ellipse_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #shapewrapper-s-Ellipse_36 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #shapewrapper-s-Ellipse_36 span#rtr-s-Ellipse_36_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Ellipse_37 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Ellipse_37 .content {
  width: 6px;
  height: 6px;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Ellipse_37 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #shapewrapper-s-Ellipse_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #shapewrapper-s-Ellipse_37 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #shapewrapper-s-Ellipse_37 span#rtr-s-Ellipse_37_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_106 {
  position: absolute;
  top: 1px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_106 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_106 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_106 span#rtr-s-Label_106_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Image_8 {
  position: absolute;
  top: 5px;
  left: 342px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_59 {
  position: absolute;
  top: 36px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_59 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_59 span {
  color: #D9D9D9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_59 span#rtr-s-Label_59_0 {
  color: #D9D9D9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Map-Screen {
  position: absolute;
  top: 64px;
  left: 0px;
  width: 375px;
  height: 603px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Cell-content .layout {
  overflow-x: auto;
  overflow-y: auto;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Cell-content .verticalalign {
  vertical-align: middle;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Cell-content {
  width: 375px;
  height: 552px;
  background-color: #F0EFF5;
  background-image: none;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Image_30 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1188px;
  height: 677px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Group_260 {
  position: absolute;
  top: 165px;
  left: 18px;
  width: 156px;
  height: 156px;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Ellipse_255 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 156px;
  height: 156px;
  position: absolute;
  overflow: hidden;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Ellipse_255 .content {
  width: 156px;
  height: 156px;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Ellipse_255 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 156px;
  height: 156px;
  background-color: #157EFB;
  background-image: none;
  opacity: 0.3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #shapewrapper-s-Ellipse_255 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #shapewrapper-s-Ellipse_255 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #shapewrapper-s-Ellipse_255 span#rtr-s-Ellipse_255_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Ellipse_256 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  overflow: hidden;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Ellipse_256 .content {
  width: 20px;
  height: 20px;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Ellipse_256 {
  position: absolute;
  top: 68px;
  left: 68px;
  width: 20px;
  height: 20px;
  background-color: #157EFB;
  background-image: none;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #shapewrapper-s-Ellipse_256 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #shapewrapper-s-Ellipse_256 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #shapewrapper-s-Ellipse_256 span#rtr-s-Ellipse_256_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Cell-footer .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Cell-footer .verticalalign {
  vertical-align: middle;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Cell-footer {
  width: 375px;
  height: 51px;
  background-color: #FFFFFF;
  background-image: none;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_572 {
  position: absolute;
  top: 4px;
  left: 8px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 30.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_572 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_572 span {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 30.0pt;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_572 span#rtr-s-Label_572_0 {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 30.0pt;
  line-height: 0px;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_573 {
  position: absolute;
  top: 10px;
  left: 329px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_573 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_573 span {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 22.0pt;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d #s-Label_573 span#rtr-s-Label_573_0 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-40759ed3-511b-42d2-b1dd-e91b3575446d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}