#s-496cc479-3c7b-4260-a5eb-87f670a31867 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 67px;
  background-color: #9D1535;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 38px;
  font-size: 20.0pt;
  font-family: Perpetua,Arial;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_10 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_10 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: Perpetua,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: Perpetua,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Statusbar-black {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 20px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_11 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: #000000;
  background-image: none;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_11 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Label_97 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Label_97 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Label_97 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Label_97 span#rtr-s-Label_97_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Label_98 {
  position: absolute;
  top: 4px;
  left: 299px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Label_98 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Label_98 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Label_98 span#rtr-s-Label_98_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Label_99 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Label_99 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Label_99 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Label_99 span#rtr-s-Label_99_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Group_24 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Ellipse_33 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Ellipse_33 .content {
  width: 6px;
  height: 6px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Ellipse_33 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #shapewrapper-s-Ellipse_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #shapewrapper-s-Ellipse_33 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #shapewrapper-s-Ellipse_33 span#rtr-s-Ellipse_33_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Ellipse_34 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Ellipse_34 .content {
  width: 6px;
  height: 6px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Ellipse_34 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #shapewrapper-s-Ellipse_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #shapewrapper-s-Ellipse_34 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #shapewrapper-s-Ellipse_34 span#rtr-s-Ellipse_34_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Ellipse_35 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Ellipse_35 .content {
  width: 6px;
  height: 6px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Ellipse_35 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #shapewrapper-s-Ellipse_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #shapewrapper-s-Ellipse_35 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #shapewrapper-s-Ellipse_35 span#rtr-s-Ellipse_35_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Ellipse_36 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Ellipse_36 .content {
  width: 6px;
  height: 6px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Ellipse_36 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #shapewrapper-s-Ellipse_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #shapewrapper-s-Ellipse_36 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #shapewrapper-s-Ellipse_36 span#rtr-s-Ellipse_36_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Ellipse_37 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Ellipse_37 .content {
  width: 6px;
  height: 6px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Ellipse_37 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #shapewrapper-s-Ellipse_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #shapewrapper-s-Ellipse_37 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #shapewrapper-s-Ellipse_37 span#rtr-s-Ellipse_37_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Label_106 {
  position: absolute;
  top: 1px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Label_106 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Label_106 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Label_106 span#rtr-s-Label_106_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Image_8 {
  position: absolute;
  top: 5px;
  left: 342px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Label_59 {
  position: absolute;
  top: 36px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Label_59 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Label_59 span {
  color: #D9D9D9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Label_59 span#rtr-s-Label_59_0 {
  color: #D9D9D9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_1 {
  position: absolute;
  top: 66px;
  left: 0px;
  width: 373px;
  height: 43px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #9D1535;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #9D1535;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #9D1535;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #9D1535;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_1 span {
  color: #9D1535;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #9D1535;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_1 span#rtr-s-Rectangle_1_1 {
  color: #9D1535;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_1 span#rtr-s-Rectangle_1_2 {
  color: #9D1535;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_2 {
  position: absolute;
  top: 174px;
  left: 0px;
  width: 373px;
  height: 43px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #9D1535;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #9D1535;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #9D1535;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #9D1535;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_2 span {
  color: #9D1535;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #9D1535;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_2 span#rtr-s-Rectangle_2_1 {
  color: #9D1535;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_2 span#rtr-s-Rectangle_2_2 {
  color: #9D1535;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Image_1 {
  position: absolute;
  top: 218px;
  left: 0px;
  width: 105px;
  height: 72px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Input_1 {
  position: absolute;
  top: 256px;
  left: 107px;
  padding-left: 15px;
  width: 253px;
  height: 76px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Input_1 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_3 {
  position: absolute;
  top: 218px;
  left: 104px;
  width: 269px;
  height: 70px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_3 span#rtr-s-Rectangle_3_1 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_3 span#rtr-s-Rectangle_3_2 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Image_2 {
  position: absolute;
  top: 289px;
  left: 0px;
  width: 105px;
  height: 68px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_4 {
  position: absolute;
  top: 287px;
  left: 104px;
  width: 269px;
  height: 70px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_4 span#rtr-s-Rectangle_4_1 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_4 span#rtr-s-Rectangle_4_2 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Image_3 {
  position: absolute;
  top: 356px;
  left: 0px;
  width: 104px;
  height: 72px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_5 {
  position: absolute;
  top: 356px;
  left: 104px;
  width: 269px;
  height: 70px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_5 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_5 span#rtr-s-Rectangle_5_1 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_5 span#rtr-s-Rectangle_5_2 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_5 span#rtr-s-Rectangle_5_3 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_5 span#rtr-s-Rectangle_5_4 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Image_4 {
  position: absolute;
  top: 427px;
  left: 0px;
  width: 106px;
  height: 69px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_6 {
  position: absolute;
  top: 426px;
  left: 104px;
  width: 269px;
  height: 70px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_6 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_6 span#rtr-s-Rectangle_6_1 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_6 span#rtr-s-Rectangle_6_2 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_7 {
  position: absolute;
  top: 586px;
  left: 0px;
  width: 373px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #9D1535;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #9D1535;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #9D1535;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #9D1535;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_7 span {
  color: #9D1535;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #9D1535;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_7 span#rtr-s-Rectangle_7_1 {
  color: #9D1535;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_7 span#rtr-s-Rectangle_7_2 {
  color: #9D1535;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_7 span#rtr-s-Rectangle_7_3 {
  color: #9D1535;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Image_5 {
  position: absolute;
  top: 621px;
  left: 0px;
  width: 80px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Image_6 {
  position: absolute;
  top: 617px;
  left: 79px;
  width: 86px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_8 {
  position: absolute;
  top: 617px;
  left: 156px;
  width: 95px;
  height: 48px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_8 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_8 span#rtr-s-Rectangle_8_1 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Image_7 {
  position: absolute;
  top: 113px;
  left: 0px;
  width: 73px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Image_9 {
  position: absolute;
  top: 113px;
  left: 75px;
  width: 93px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Image_10 {
  position: absolute;
  top: 113px;
  left: 167px;
  width: 103px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Image_11 {
  position: absolute;
  top: 113px;
  left: 276px;
  width: 92px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Image_12 {
  position: absolute;
  top: 497px;
  left: 0px;
  width: 103px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_9 {
  position: absolute;
  top: 495px;
  left: 104px;
  width: 269px;
  height: 70px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_9 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_9 span#rtr-s-Rectangle_9_1 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_9 span#rtr-s-Rectangle_9_2 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_9 span#rtr-s-Rectangle_9_3 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 #s-Rectangle_9 span#rtr-s-Rectangle_9_4 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-496cc479-3c7b-4260-a5eb-87f670a31867 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}