#s-5a57502a-7486-43f3-a310-270ea409afe5 #s-Rectangle_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5a57502a-7486-43f3-a310-270ea409afe5 #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-5a57502a-7486-43f3-a310-270ea409afe5 #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-5a57502a-7486-43f3-a310-270ea409afe5 #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-5a57502a-7486-43f3-a310-270ea409afe5 #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-5a57502a-7486-43f3-a310-270ea409afe5 #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-5a57502a-7486-43f3-a310-270ea409afe5 #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-5a57502a-7486-43f3-a310-270ea409afe5 #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-5a57502a-7486-43f3-a310-270ea409afe5 #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-5a57502a-7486-43f3-a310-270ea409afe5 #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-5a57502a-7486-43f3-a310-270ea409afe5 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-5a57502a-7486-43f3-a310-270ea409afe5 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5a57502a-7486-43f3-a310-270ea409afe5 #s-Label_59 {
  -ms-transform: rotate(0.0deg);
}
#s-5a57502a-7486-43f3-a310-270ea409afe5 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5a57502a-7486-43f3-a310-270ea409afe5 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5a57502a-7486-43f3-a310-270ea409afe5 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5a57502a-7486-43f3-a310-270ea409afe5 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5a57502a-7486-43f3-a310-270ea409afe5 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5a57502a-7486-43f3-a310-270ea409afe5 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5a57502a-7486-43f3-a310-270ea409afe5 #s-Label_147 {
  -ms-transform: rotate(0.0deg);
}
#s-5a57502a-7486-43f3-a310-270ea409afe5 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5a57502a-7486-43f3-a310-270ea409afe5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}