#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Rectangle_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_59 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_41 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_42 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_43 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_44 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_46 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_47 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_48 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_51 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_52 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_54 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_55 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_56 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_57 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_58 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_60 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_61 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_25 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_40 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_36 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_37 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_38 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e #s-Label_39 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a9a8bfc3-b26a-45df-ace9-38e165b28e1e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}