#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}