#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Rectangle_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Label_59 {
  -ms-transform: rotate(0.0deg);
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 #s-Button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 85px;
  height: 39px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b0c8cc70-e90d-49fa-adca-f709dc8592d3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}