#s-bf717fdd-db9a-4c9f-9f6a-366889726e45 #s-Rectangle_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-bf717fdd-db9a-4c9f-9f6a-366889726e45 #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-bf717fdd-db9a-4c9f-9f6a-366889726e45 #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-bf717fdd-db9a-4c9f-9f6a-366889726e45 #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-bf717fdd-db9a-4c9f-9f6a-366889726e45 #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-bf717fdd-db9a-4c9f-9f6a-366889726e45 #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-bf717fdd-db9a-4c9f-9f6a-366889726e45 #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-bf717fdd-db9a-4c9f-9f6a-366889726e45 #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-bf717fdd-db9a-4c9f-9f6a-366889726e45 #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-bf717fdd-db9a-4c9f-9f6a-366889726e45 #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-bf717fdd-db9a-4c9f-9f6a-366889726e45 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-bf717fdd-db9a-4c9f-9f6a-366889726e45 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-bf717fdd-db9a-4c9f-9f6a-366889726e45 #s-Label_59 {
  -ms-transform: rotate(0.0deg);
}
#s-bf717fdd-db9a-4c9f-9f6a-366889726e45 #s-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#s-bf717fdd-db9a-4c9f-9f6a-366889726e45 #s-Mail {
  -ms-transform: rotate(0.0deg);
}
#s-bf717fdd-db9a-4c9f-9f6a-366889726e45 #s-Label_196 {
  -ms-transform: rotate(0.0deg);
}
#s-bf717fdd-db9a-4c9f-9f6a-366889726e45 #s-Label_94 {
  -ms-transform: rotate(0.0deg);
}
#s-bf717fdd-db9a-4c9f-9f6a-366889726e45 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-bf717fdd-db9a-4c9f-9f6a-366889726e45 #s-ok-green {
  -ms-transform: rotate(0.0deg);
}
#s-bf717fdd-db9a-4c9f-9f6a-366889726e45 #s-Label_277 {
  -ms-transform: rotate(0.0deg);
}
#s-bf717fdd-db9a-4c9f-9f6a-366889726e45 #s-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-bf717fdd-db9a-4c9f-9f6a-366889726e45 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-bf717fdd-db9a-4c9f-9f6a-366889726e45 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-bf717fdd-db9a-4c9f-9f6a-366889726e45 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-bf717fdd-db9a-4c9f-9f6a-366889726e45 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}