#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}