#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Rectangle_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Label_59 {
  -ms-transform: rotate(0.0deg);
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Table_1 {
  border-collapse: separate;
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Ellipse_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c7fc4b13-5554-458e-b0d8-67f716ce09ca > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}