#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Rectangle_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Label_59 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Label_182 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Label_121 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}