#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Label_182 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Label_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ce8297fa-d5d5-416b-bc8c-6bc2a777f209 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}