#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Pin-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Label_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}