#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Rectangle_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Label_59 {
  -ms-transform: rotate(0.0deg);
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Map-Screen {
  border-collapse: separate;
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Pin-red {
  -ms-transform: rotate(0.0deg);
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Label_121 {
  -ms-transform: rotate(0.0deg);
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a #s-Ellipse_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f5334354-fc72-46ae-91c6-62be5a840f8a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}